
@{ ViewBag.Title = "Notifications"; }
@{
    Layout = "_FarmManagerDashboard";
}


<h1 class="font-weight-bolder text-center" style="color:red; margin-top:20%">Insufficient Store Item <i class="fas fa-exclamation-circle"></i></h1>
<h3 class="text-center font-weight-bolder" style="color:darkgoldenrod; margin-top:5%">Contact Store Manager For Details</h3>
<a class="font-weight-bolder " style="color:darkred; margin-left:80%; margin-top:80%; font-size: 20px" asp-action="ListManagerNotifications"><i class="fas fa-bell"></i> Notifications</a>