@model NikeFarms.v2._0.Models.ViewModels.UpdateFlockVM
@{
    Layout = "_StoreManagerDashboard";
}
@{
    ViewData["Title"] = "Update Flock";
}



<div class="">
    <br /><br /><h2 class="text-center font-weight-bolder" style="color:darkred"><i class="fas fa-edit"></i> Edit Flock </h2><br /><br />
</div>
<form method="post">
    <input hidden asp-for="Id" />
    <div class="">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="TotalNo" class="form-check-label font-weight-bold"><span style="color: darkred">*</span> Total Number of Incoming Flock </label>
                <input style="margin-right: 20px" asp-for="TotalNo" class="form-control " placeholder="Input Total No." />
                <span asp-validation-for="TotalNo" style="color:darkred"></span>
            </div>
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Age" class="form-check-label font-weight-bold"><span style="color: darkred">*</span> Age of Incoming Flock (In Days)</label>
                <input style="margin-right: 20px" asp-for="Age" class="form-control" placeholder="Enter Flock Age (In Days)" type="number" min="1"/>
                <span asp-validation-for="Age" style="color:darkred"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="AverageWeight" class="form-check-label font-weight-bold"><span style="color: darkred">*</span> Enter Average Weight of Incoming Flock (Kg)</label>
                <input asp-for="AverageWeight" class="form-control" placeholder="Average Weight (Kg)" type="number" min="1"/>
                <span asp-validation-for="AverageWeight" style="color:darkred"></span>
            </div>
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-5">
                <label asp-for="AmountPurchased" class="form-check-label font-weight-bold"><span style="color: darkred">*</span> Price of Flock (&#8358 ) </label>
                <input asp-for="AmountPurchased" class="form-control" placeholder="Total Amount used to Purchase Flock (N)" type="number" min="1"/>
                <span asp-validation-for="AmountPurchased" style="color:darkred"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label class="form-check-label font-weight-bold" asp-for="FlockTypeId"><span style="color: darkred">*</span> Select Flock Type</label>
                <select asp-for="FlockTypeId" asp-items="@Model.FlockTypeList" class="form-control">
                    <option disabled selected>--Select Flock Type--</option>
                </select>
                <span asp-validation-for="FlockTypeId" style="color:darkred"></span><br>
            </div>
        </div>
    </div>
    <div class="">
        <input type="submit" value="Edit" class="btn font-weight-bolder" style="background-color:darkgoldenrod" />
        <a style="margin-left: 5%; color: darkred" asp-action="Index">Back Home</a>
    </div>

</form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
