@model NikeFarms.v2._0.Models.ViewModels.UpdateRoleVM
@{
    Layout = "_SuperAdminDashboard";
}
@{
    ViewData["Title"] = "Update Role";
}


    
        <div class="">
            <br /><br /><h2 class="text-center font-weight-bolder" style="color:darkred"><i class="fas fa-edit"></i> Edit Role</h2><br /><br />
        </div>
        <form method="post">
                <input hidden asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="Name" class="form-check-label font-weight-bold"><span style="color: darkred">*</span> Role Name</label>
                        <input style="margin-right: 20px" asp-for="Name" class="form-control " placeholder="Enter Role" />
                        <span asp-validation-for="Name" style="color:darkred"></span>
                    </div>

                </div>

                <div class="mt-3">
                    <input type="submit" value="Edit" class="btn font-weight-bolder" style="background-color:darkgoldenrod" />
                    <a style="margin-left: 5%; color: darkred" asp-action="ListRole">Back Home</a>
                </div>

        </form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
